* {
    margin:0;
    padding:0;
}

body {
    height:100vh;
    width:100vw;
    display: grid;
    grid-template-columns: 0.8fr 3fr;
    grid-template-rows: 72px 1fr;
    grid-template-areas: "header header"
                          "menu main"    ;
}

header {
    grid-area: header;
    height:56px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 32px;
    padding: 8px;
    padding-left: 32px;
    background-color: #2dd4bf;
}

.logo {
    display: flex;
    align-items: center;
    gap:16px;
    font-size: 1.8em;
}

.logo-svg {
    background-image: url('./img/logo-svg.svg');
    width :32px;
    height: 32px;
    background-repeat: no-repeat;
    background-position: center;
}

.menu-btn {
    width:32px;
    height:32px;
    background-image: url('./img/menu-btn.svg');
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 8px;
}

/* main section style */
.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    gap: 4em;
}

.project-title {
    font-size: 2em;
}

.project-tasks {
    display:flex;
    flex-direction: column;
    width:60%;
}

.project-tasks .head, .tasks .task {
    display: flex;
    justify-content: space-between;
}

.project-tasks .head {
    padding: 1em 0;
}

.tasks {
    display: flex;
    flex-direction: column;
}

.task > div {
    display: flex;
    width: 160px;
    gap: 8px;
}



